@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

/* 10/16 = 0.625 * 100; now 1 rem = 10px */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* font-family: 'Josefin Sans', sans-serif; */

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* common style ends */

/* navbar */

/* sidebar */

.sidebar {
  width: 8rem;
  height: 100%;
  background-color: #eaeaea;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  margin-top: 3rem;
  cursor: pointer;
}

.line {
  height: 0.2rem;
  width: 2.5rem;
  background-color: #222;
  margin-bottom: 0.6rem;
}

.line-1,
.line-3 {
  width: 1.8rem;
  transition: 0.3s;
}

.menu-icon:hover .line {
  width: 2.5rem;
}

.social-icons-list {
  list-style: none;
  padding: 0;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.social-link {
  font-size: 2rem;
  color: #777;
  transition: 0.3s;
}

.social-link:hover {
  color: #b5b340;
}

.year {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #555;
}

/* sidebar ends*/

/* menu starts */

.menu {
  margin-left: 8rem;
  position: fixed;
}

/* menu ends */

/* end of navbar */
